@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@layer base {
  html {
    font-family: Lato;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.content-careers ul li {
  list-style-type: disc !important;  
}

.content-careers ol li {
  list-style-type: decimal !important;  
}